#What profile is this node running
#Potential candidates are:
#allinone,worker,presentation,admin,ingest
#corresponding $profile.properties files can be found in /etc/matterhorn/profiles
MATTERHORN_NODE_TYPE={{ MATTERHORN_NODE_TYPE }}

##Profiling options
#Profiling ON/OFF
PROFILING={{ PROFILING }}
#Profiling tool
PROFILING_TOOL={{ PROFILING_TOOL }}
#Profilers options
NEW_RELIC_OPTS={{ NEW_RELIC_OPTS }}

# What user should run Matterhorn
MATTERHORN_USER={{ MATTERHORN_USER }}
# What user should run Matterhorn
MATTERHORN_GROUP={{ MATTERHORN_GROUP }}
# Where Matterhorn is installed
MATTERHORN_HOME={{ MATTERHORN_HOME }}
# Configuration files for Matterhorn
MATTERHORN_CONF_DIR={{ MATTERHORN_CONF_DIR }}
# Configuration files for Felix Fileinstall
FELIX_FILEINSTALL_DIR={{ FELIX_FILEINSTALL_DIR }}
# Matterhorn temporary files go here
MATTERHORN_TEMP_DIR={{ MATTERHORN_TEMP_DIR }}
# Matterhorn cache files go here
MATTERHORN_CACHE_DIR={{ MATTERHORN_CACHE_DIR }}
# Where to put Matterhorn’s log files
MATTERHORN_LOG_DIR={{ MATTERHORN_LOG_DIR }}
# Runtime options for felix (provided as -D<option>=<value>)
MATTERHORN_OPTS={{ MATTERHORN_OPTS }}
# JVM Memory configuration parameter
JVM_MEMORY_OPTS={{ JVM_MEMORY_OPTS }}
# Options to pass to the JVM to enable debugging
JVM_DEBUG_OPTS={{ JVM_DEBUG_OPTS }}
# Options for the advanced windowing toolkit
JVM_AWT_OPTS={{ JVM_AWT_OPTS }}
# Set the vm encoding
JVM_ENCODING_OPTS={{ JVM_ENCODING_OPTS }}
# Enable monitoring via JMX
JVM_MONITORING_OPTS="-Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=1099 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false"
